body {
  background-color: #d4ceb0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 30%;
  border-width: 10px;
  border-radius: 10px;
}

h1 {
color:#012C0B
}

h3{
  color:#85A392
}
